.project-grid-skeleton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 48px;
}

@media (max-width: 848px) {
  .project-grid-skeleton {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 48px
  }
}
