.menu-view {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000000;
}

.menu-view__header {
  display: flex;
  justify-content: space-between;
  margin: 30px 36px 42px 36px;
}

.menu-view__logo {
  font-size: 30px;
  font-weight: 900;
  color: #FFFFFF;
}

.menu-view__options {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
  overflow: scroll;
  height: calc(100% - 115px);
}

.menu-view__option {
  font-size: 60px;
  line-height: 86px; 
  color: #FFFFFF;
  width: 100%;
  text-align: end;
  padding: 12px 0;
  text-decoration: none;
  border-bottom: #FFFFFF solid 1px;
}

.menu-provider__rest_hidden {
  display: none;
}
