.project-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-item__upper {
  min-width: 338px;
  max-width: 412px;
}

.project-item__cover {
  height: 0;
  padding-bottom: 85%;
  background-size: cover;
}

.project-item__client-name {
  margin-top: 16px;
  color: #939393;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.project-item__title {
  margin-top: 16px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  font-family: 'Teko';
  color: #0E0E0E;
}

.project-item__case-link {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #1A18F7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}