.layout__header {
  position: absolute;
  width: calc(100% - 72px);
  margin: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 1px;
}

.layout__logo {
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 990px) {
  .layout__header {
    width: calc(100% - 36px);
    margin: 12px 20px 10px 16px;
    padding: 0;
    border-bottom: none;
  }
}