.question-form {
  display: flex;
  justify-content: space-around;
  padding: 72px 80px 72px 48px;
}

.question-form__left {
  font-size: 60px;
  line-height: 86px;
  width: 232px;
}

.question-form__right {
  margin-left: 64px;
}

.question-form__contacts {
  display: flex;
}

.question-form__email {
  display: flex;
  margin-left: 38px;
}

.question-form__name,
.question-form__email {
  width: 295px;
}

.question-form__text-area {
  margin-top: 16px;
  width: 295px;
}

.question-form__button {
  margin-top: 38px;
}

@media (max-width: 990px) {
  .question-form {
    flex-direction: column;
  }
  
  .question-form__left {
    font-size: 30px;
    line-height: 43px;
    width: auto;
    text-align: center;
  }

  .question-form__contacts {
    flex-direction: column;
  }
  
  .question-form__email {
    margin-left: 0;
  }
}